aside{
    grid-column: 3/4;
    grid-row: 2/4;
    background-color: #a9fffd;
    text-align: center;
    color: #018383;

}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.menu1 > ul{
    list-style: none;
    box-sizing: border-box;

}
.menu1 p{
    float: left;
    text-align: center;
    border-right-width: 15px;
    border-bottom: 1px solid white ;
}

