header{
    grid-column: 1/4;
    grid-row: 1/2;
    background-color: #ea728c;
    text-align: center;
    width: 100%;
  
}
 .modo-flex{
     display: flex;
     justify-content: center;
     align-self: center;
     align-items: center;
 }