section{
    grid-column: 2/3;
    grid-row: 2/4;
    background-color: #ffc7c7;
    border: white solid 1px;
    
    

}

.izquierda{
    float: left;
}
.derecha {
    float: right;
}
.clear-izq{
    clear: left;
}
.clear-der{
    clear: right;
}

article{
    font-style:italic;
    text-align: center;
   
    font-size: 20px;
    color: white;
}
    